@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  color: #fff;
  overflow-x: hidden !important;
}

#scroll {
  overflow-x: scroll;
}
#scroll::-webkit-scrollbar-thumb {
  background: rgb(6, 197, 6);
  border-radius: 10px;
}
#scroll::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

#scroll::-webkit-scrollbar-corner,
#scroll::-webkit-scrollbar-button {
  background: transparent;
}

#bodyScroll::-webkit-scrollbar {
  width: 7px;
}
#bodyScroll::-webkit-scrollbar-thumb {
  background: rgb(6, 197, 6);
  border-radius: 10px;
}

input {
  outline: none !important;
}
